#pps-loading-message {
    background-color: var(--window-bg-color);
    color: var(--window-fg-color);
    border-radius: 10px;
    padding: 10px;
}

.content-view.document-page {
    border-radius: 0;
}

window.pps-annotation-window {
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.zoom-overlay button.circular {
    padding: 3px;
}

pps-view:selected {
    background-color: var(--accent-bg-color);
}

pps-view.find-results:selected {
    background-color: color-mix(in srgb, var(--accent-bg-color) 30%, transparent);
}

pps-view.find-results:active {
    background-color:color-mix(in srgb, var(--accent-bg-color) 60%, transparent);
}

pps-view.document-page {
    background-color: white;
    padding: 0;
}

pps-view.document-page.inverted {
    background-color: black;
}

.inverted-color {
    filter: invert(1);
}

pps-presentation-view {
    background-color: black;
}

pps-presentation-view.white-mode {
    background-color: white;
}

.toolbar.nested {
  padding-top: 0px;
  padding-bottom: 0px;
}

.content-view .combo {
    padding-left: 2px;
    padding-right: 2px;
}

pps-sidebar-thumbnails child.activatable picture {
    border: 1px solid var(--shade-color);
    background-clip: content-box;
    background-color: #ffffff;
}

pps-sidebar-thumbnails child.activatable picture.inverted-color {
    /* The border gets inverted too and becomes light otherwise */
    border: 1px solid white;
}

pps-sidebar-thumbnails picture {
    border-radius: 6px;
}

pps-sidebar-thumbnails.columns-1 gridview > child {
    padding: 12px 12px 6px;
    border-radius: 12px;
}

pps-sidebar-thumbnails.columns-2 gridview > child {
    padding: 8px 8px 6px;
    border-radius: 6px;
}

pps-sidebar-annotations-row {
    --annotation-color: var(--yellow-4);
    --annotation-fg-color: oklab(from var(--annotation-color) round(1 - l, 1) 0 0);

    padding: 8px 0;
}

pps-sidebar-annotations-row .annotation-content {
    padding: 6px;
    border-radius: 6px;
    background-color: var(--annotation-color);
    color: var(--annotation-fg-color);
}

pps-sidebar-annotations-row .reference-bar {
    padding: 0 3px;
    border-radius: 3px;
    background-color: var(--annotation-color);
}
