<page xmlns="http://projectmallard.org/1.0/"
      xmlns:its="http://www.w3.org/2005/11/its"
      type="topic" style="task"
      id="opening">

  <info>
    <link type="guide" xref="index#reading"/>
    <link type="seealso" xref="formats"/>
    <link type="seealso" xref="commandline"/>
    <revision pkgversion="3.2" date="2011-09-05" status="final"/>
    <revision pkgversion="3.12" date="2014-02-28" status="candidate"/>
    <revision pkgversion="3.39.2" date="2021-03-05" status="candidate"/>

    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email its:translate="no">tiffany@antopolski.com</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email its:translate="no">kittykat3756@gmail.com</email>
    </credit>

    <include href="legal-unported.xml" xmlns="http://www.w3.org/2001/XInclude"/>

    <desc>How to open a document.</desc>
  </info>

  <title>Open a document</title>

  <p>You can open a document using any one of the following ways:</p>

  <list>
    <item>
      <p>Double-click on the file in <app>Files</app> or your <em>file
      manager</em>.</p>
      <note style="tip">
        <p>Double clicking PDF, PostScript, .djvu, and Comic Book
        Archive files opens them in <app>Papers</app> by default.</p>
      </note>
    </item>
    <item>
      <p>Right-click on a file icon in <app>Files</app> and click
      <guiseq><gui>Open With</gui><gui>Papers</gui></guiseq>.</p>
    </item>
  </list>

  <p>If an empty <app>Papers</app> window is already open you can:</p>

  <list>
    <item>
      <p>Drag a file into the window from <app>Files</app>. The new file will
      open in the same window.</p>
    </item>
    <item>
      <p>Press the <gui>Open…</gui> button in the top-left corner of
      the window. In the <gui>Open Document</gui>
      dialog, choose the file which you wish to open, and click
      <gui>Open</gui>. The file will open in the same window.</p>
    </item>
  </list>

  <p>If a document is already opened in a <app>Papers</app> window you can:</p>

  <list>
    <item>
      <p>Drag a file into the window from <app>Files</app>. The new file will
      open in a new window.</p>
    </item>
    <item>
      <p>Press <keyseq><key>Ctrl</key><key>O</key></keyseq>. In the <gui>Open Document</gui>
      dialog, choose the file which you wish to open, and click
      <gui>Open</gui>. The file will open in a new window.</p>
    </item>
  </list>

</page>
